.contenedor{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-gap: 10px;
    align-items: center;
}
.ele{
    background-color: brown;
    width: 120px;
}
#i3{
    grid-column: 3/4;
    grid-row: 1/3;
}